@import 'fonts/roboto/stylesheet.css';

* {
    --merchant: 'Merchant';
    --sfpro: 'SF Pro Display';
    --roboto: 'Roboto';
    --text-color: #333333;
    --bg-color: #ffffff;
    --shape-color: #FFE691;
}
html, body {
    background: var(--bg-color);
    box-sizing: border-box;
    scroll-behavior: smooth;
    margin: 0;
    padding: 0;
}
h1, h2, h3, h4, h5, h6, p, span, a, ul, li, ol, ul {
    line-height: 120%;
    color: var(--text-color);
    margin: 0;
    font-family: 'Roboto', serif;
}
h1 {
    font-size: 56px;
    font-weight: 900;
}
h2 {
    font-size: 64px;
    font-weight: 900;
}
h3 {
    font-size: 40px;
    font-weight: 900;
}
h4 {
    font-size: 24px;
    font-weight: 900;
}
h5 {
    font-size: 20px;
    font-weight: 900;
}
h6 {
    font-size: 18px;
    font-weight: 300;
}
p {
    font-size: 16px;
    font-weight: 300;
}
a {
    text-decoration: none;
}
ul, ol, li {
    font-size: 16px;
    font-weight: 300;
}
@media all and (max-width: 550px) {
    h1 {
        font-size: 40px;
        font-weight: 900;
    }
    h2 {
        font-size: 64px;
        font-weight: 900;
    }
    h3 {
        font-size: 32px;
        font-weight: 900;
    }
    h4 {
        font-size: 20px;
        font-weight: 900;
    }
    h5 {
        font-size: 16px;
        font-weight: 900;
    }
    h6 {
        font-size: 14px;
        font-weight: 300;
    }
    p {
        font-size: 12px;
        font-weight: 300;
    }
    a {
        text-decoration: none;
    }
    ul, ol, li {
        font-size: 12px;
        font-weight: 300;
    }
}